@media screen and (max-width:576px) {

    .nav-bar,
    .nav-btn {
        display: flex;
        flex-direction: column;
    }

    nav {
        background: none;
        box-shadow: none;
        
    }


    .nav-bar {
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .nav-logo p {
        font-size: 45px;
    }

    .nav-btn {
        text-align: center;
        margin: 0px auto;
        font-size: 18px;font-weight: 500;
    }

    .A-U {
        margin-bottom: 36px;
    }

    .DEV {
        margin-bottom: 62px;
    }

    .nav-logo {
        margin: 103px auto 62px;
    }

   




    /* intro-one responsive section */
    .div-intro-one{width: 100%;
        align-items: center;padding: 0 auto;
        
    }
    .intro-one{flex-direction: column-reverse;gap:24px;
    transform: translate(29rem,5rem);
    background: none;}


    .intro-one-text{
        width: 901px;
        height: 700px;
        
        background-image: url(./images/Group\ 14.png);
    background-position: cover;
text-align: center;}
.text-ele{transform: translate(18rem);}
.intro-h-one{margin-top: 131px;}



   /*  INTRO TWO RESPONSIVE START HERE  */
   .intro-two-bar{  background: none;}
   .intro-two{flex-direction: column;
 }
   .intro-two-text{
       direction: initial;
       text-align: center;
       margin-top: 4rem;
   }
.intro-two-text button{
margin-bottom: 3.75rem;
}

/* INTRO TRI BAR RESPONSIVE SECTION  */

.intro-tri{margin-top: 20rem}
.card img{
    width: 603px;
    height: 560.331px;}
.grid{ grid-template-columns: repeat(1,1fr);
       margin: 0 auto;
    align-items: center;}





.card p{width: 37.7rem;}

.card{margin: 0 auto;
text-align: center;}




    }
