@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --pri: #F948B2;
    --sec: #8758F1;
    --wri: #534C64;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-content: center;
}


.nav-bar {
    width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 8.12rem;
    align-items: center;
    color: #0B0223;
}



.nav-logo,
.footer-logo {
    display: flex;
    align-items: center;
    font-size: 2.81rem;
    font-weight: 700;


}

.nav-logo>img {
    margin-right: 20px;
}

.nav-btn {
    display: flex;
    align-items: center;
    color: var(--wri);
    margin-left: 300px;

}

.nav-btn a {
    text-decoration: none;
    margin-right: 2rem;
    color: var(--wri);
}

nav .nav-jn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(11, 2, 35, 0.10);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 0px 10px 24px;
    border-radius: .5rem;
}


.nav-jn>P {
    margin-right: 1.5rem;
}



/* INtro-ONE_starts here/ */

.text-ele {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.text-ele img {
    margin-right: 5px;

}

.intro-one {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;


}

.intro-h-one {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.intro-h-two {
    font-size: 5.94rem;
    font-weight: 800;
    background-image: linear-gradient(to top, var(--pri), var(--sec));
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;

}

.pink-btn,
.blue-btn {
    padding: 21px 40px;
    border-radius: 3rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 41px;
}

.pink-btn {
    background-color: var(--pri);
    border: solid var(--pri);
    margin-right: 24px;
}

.blue-btn {
    background-color: #4EC5F7;
    border: solid #4EC5F7;
}



/* INTRO TWO SECTIONS STARTS HERe/ */
.intro-two-bar {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 37.5rem;
}

.intro-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;

}

.intro-two-img {
    width: 868px;
    height: 489px;
    margin-top: 3rem;
}

.intro-two-text h2 {
    background-image: linear-gradient(to bottom, var(--pri), var(--sec));
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3rem;
    font-weight: 700;


}

.intro-two-text {
    direction: rtl;
    width: 520px;
}

.intro-two-text p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--wri);
}

.intro-two-text button {
    
    margin: 2rem 0 1.5rem;
}

.intro-two-text h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--wri);
}

.unleash {
    font-size: 2rem;
    font-weight: 700;
}


/* INTRO-TRI STARTS HERE */
.intro-trio-bar {
    height: 5927px;
}

.intro-tri {
    display: flex;
    text-align: center;
    width: 1440px;
    margin: 0 auto;
}

.intro-tri-text {
    margin: 0 auto;
    ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1440px;
    margin: 0 auto;
    column-gap: 1.5rem;
}

.intro-tri-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    color: #0B0223;

}

.intro-tri-text p {
    margin: 1rem 0 3rem;
    color: var(--wri)
}

.funny {
    background-image: linear-gradient(to bottom, var(--pri), var(--sec));
    color: transparent;
    -webkit-background-clip: text;
}

.card p {
    margin-top: 1.5rem;
    font-weight: 500;
}

/* POSTER SECTION START HERE
 */
.poster {
    display: flex;
    align-items: center;
    position: relative;
    width: 120rem;

    transform: translate(26.5rem, 7.5rem);

}

.poster-text {
    direction: rtl;
    margin-right: 16.47rem;
}

.poster-text h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    width: 21.3125rem;
    height: 11.25rem;

}

.play {
    background-image: linear-gradient(to bottom, var(--pri), var(--sec) 200%);
    color: transparent;
    -webkit-background-clip: text;
}

.poster-text p {
    color: var(--wri);
    font-weight: 400;
    font-size: 1.25rem;
    width: 22.06rem;
    height: 5.62rem;

}


.poster-img {
    position: relative;
}

.img-2 {
    position: absolute;
    bottom: -80px;
    left: 28.5rem;
}



/*BUTTON SECTION HERE */
.game-btn-bar {
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100%;
    height: 427px;


}

.game-btn-section {
    width: 1440px;
    margin: 0 auto;
    margin-top: 20rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    justify-content: center;
    align-content: center;
    height: 427px;

}

.game-btn {
    padding: .5rem.25rem;
    border-radius: 3.125rem;
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    background-color: #FFF;
    border: none;

}


.game-btn p {
    margin-left: 10px;
}

.game-btn:hover {
    color: var(--pri);
    border: 1px solid var(--pri);
}

/* FOOTER SECTIONS STARTS HERE */
.footer-box {
    background-color: #0B0223;
    color: #FFF;
    text-align: center;height: 636px;
}
.footer-box p{color: rgba(255, 255, 255, 0.60);}
.foot-title {
    display: flex;
    justify-content: center;

}

.footer-logo {
    margin-top: 120px;
    gap: 20px;
    
}
.footer-logo p{color: #FFF;}

.footer-box a {
    text-decoration: none;
}



.footer-nav a {
    color: #FFF;
    padding: 10px 30px;
}

.footer-nav {
    margin-top: 63px;
    margin-bottom: 56px;
}

.footer-nav-icon a {
    margin-left: 40px;


}

.footer-nav-icon {
    margin-bottom: 4rem;
}

.footer-nav-two a {
    padding: 10px 30px;
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.60);

}

.footer-nav-two{margin-bottom: 1.5rem;}